@{
    ViewBag.Title = "Home Page";
}

@*<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>*@

<div class="container-fluid">
    <div class="row">
        
        <img src="~/img/1.jpg" class="img-responsive"/>
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Team Management</h2>
        <p>
            The management team is an essential part of every business. This team analyzes and identifies the business' goals and objectives and implements and enforces the strategies the employees need to achieve success. In a business plan, the management team includes the business' owners, board of directors and managers.
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Player Management</h2>
        <p>Plan, measure and analyze your players’ training, test results and progress.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Connects Everyone</h2>
        <p>Work together with coaches and managers. Share info to players and parents.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>